  <div class="row">
  <div class="d-none d-lg-block col-lg-4 col-md-4 right">
    <h1 style="font-family:Rancho;font-size: 30px">Welcome, {{fullname}}</h1>

    <table style="width:60%;margin: auto">
      <br><br>
      <tr>
        <td style="font-family:Rancho;font-size: 30px">Username:</td>
        <td style="font-family:Rancho;font-size: 30px">{{username}}</td>
        
      </tr>
      <tr>
        <td style="font-family:Rancho;font-size: 30px">Email:</td>
        <td style="font-family:Rancho;font-size: 30px">{{email}}</td>
        
      </tr>
      <tr>
        <td style="font-family:Rancho;font-size: 30px">Contact:</td>
        <td style="font-family:Rancho;font-size: 30px">{{contact}}</td>
        
      </tr>
      
    </table> 
    
  </div>
  <div class="d-lg-none col-xs-12 col-sm-12">
    <h1 style="font-family:Rancho;">Welcome, {{fullname}}<hr></h1>
<br>
<table style="width:60%;margin: auto">
  <br><br>
  <tr>
    <td style="font-family:Rancho;font-size: 30px">Username:</td>
    <td style="font-family:Rancho;font-size: 30px">{{username}}</td>
    
  </tr>
  <tr>
    <td style="font-family:Rancho;font-size: 30px">Email:</td>
    <td style="font-family:Rancho;font-size: 30px">{{email}}</td>
    
  </tr>
  <tr>
    <td style="font-family:Rancho;font-size: 30px">Contact:</td>
    <td style="font-family:Rancho;font-size: 30px">{{contact}}</td>
    
  </tr>
  
</table> 

  </div>




  <div class="d-none d-lg-block col-lg-4 col-md-4 right">
    <h1 style="font-family:Rancho;font-size: 30px">Fees</h1>
  </div>
  <div class="d-lg-none col-xs-12 col-sm-12">
    <h1 style="font-family:Rancho;">Fees<hr></h1>
  </div>



  <div class="d-none d-lg-block col-lg-4 col-md-4 right">
    <h1 style="font-family:Rancho;font-size: 30px">Attendance</h1>
  </div>
  <div class="d-lg-none col-xs-12 col-sm-12">
    <h1 style="font-family:Rancho;">Attendance<hr></h1>
  </div>



</div>