<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin: auto">
    <div style="border-style:solid;border-radius: 10px;border-width:thin;margin: auto;">
      <h1 style="margin: 10px">Signup</h1>
    <br>

      <div class="col-lg-6 col-md-6 form-group">
       
    
          <form [formGroup]="signup_Form" (ngSubmit)="onSignup()" >
            <br>
            <small>Fields marked with * are mandatory</small><br><br>
            <label>Username<span style="color: red">*</span></label>
            <input type="text" class="form-control" [class.is-invalid]="signup_Form.get('uname').touched && signup_Form.get('uname').invalid" formControlName="uname">
            
            <br>
            <label>Fullname<span style="color: red">*</span></label>
            <input type="text" class="form-control" [class.is-invalid]="signup_Form.get('fname').touched && signup_Form.get('fname').invalid" formControlName="fname">
          
            <br>
            <label>Email<span style="color: red">*</span></label>
            <input type="text" class="form-control" [class.is-invalid]="signup_Form.get('email').touched && signup_Form.get('email').invalid" formControlName="email">
            <small [class.d-none]="signup_Form.get('email').untouched || signup_Form.get('email').valid" style="color: red">Enter email in correct format.</small>
            <br>
            <label>Contact<span style="color: red">*</span></label>
            <input type="text" class="form-control" [class.is-invalid]="signup_Form.get('cont').touched && signup_Form.get('cont').invalid" pattern="^([0-9])*" formControlName="cont">
            <small [class.d-none]="signup_Form.get('cont').untouched || signup_Form.get('cont').valid" style="color: red">Please enter 10 digit number without alphabets</small>
            <br>
          
            <label>Password<span style="color: red">*</span></label>
            <input type="password" class="form-control" [class.is-invalid]="signup_Form.get('pword').touched && signup_Form.get('pword').invalid" formControlName="pword">
           
            <br>
            <label>Confirm password<span style="color: red">*</span></label>
            <input type="password" class="form-control" [class.is-invalid]="signup_Form.get('cpword').touched && signup_Form.get('cpword').invalid" formControlName="cpword">
         
            <small [class.d-none]="(signup_Form.get('cpword').value == signup_Form.get('pword').value)" style="color: red">Passwords are not same</small>
            <br>
  <br>
  
            <button type="submit" class="btn btn-primary" [disabled]="signup_Form.invalid">Signup</button>
  
            <button class="btn btn-danger" style="float:right" (click)="Login()">Back</button>
         
          </form>

    

      </div>


      <div class="col-lg-6 col-md-6 form-group">
       
    
        

    </div>
      

      
    </div>

  </div>

</div>