<div class="d-none d-lg-block col-lg-12 col-md-12">
  <h1 class="fontstyle">Welcome, {{fullname}}</h1>

<table style="width:60%;margin-left: 10px;margin-right: 10px;">
  <br><br>
  <td><br><br><a style="float: right" data-toggle="modal" data-target="#myModal">
      <span class="glyphicon glyphicon-edit"></span>Edit
    </a></td>
  <tr>
    <td class="fontstyle" style="font-size: 20px">Username:</td>
    <td class="fontstyle" style="font-size: 20px"><strong>{{username}}</strong></td>
    
  </tr>
  <tr>
    <td class="fontstyle" style="font-size: 20px">Email:</td>
    <td class="fontstyle" style="font-size: 20px">{{email}}</td>
    
  </tr>
  <tr>
    <td class="fontstyle" style="font-size: 20px">Contact:</td>
    <td class="fontstyle" style="font-size: 20px">{{contact}}</td>
    
  </tr>
  
</table> 
</div>


<div class="d-lg-none col-xs-12 col-sm-12">


    <h1 class="fontstyle" >Welcome, {{fullname}}<hr></h1>
    <br>
    <table style="width:60%;margin-left: 10px;margin-right: 10px;">
      
      <td><a style="float: right" data-toggle="modal" data-target="#myModal">
          <span class="glyphicon glyphicon-edit"></span>Edit
        </a></td>
      <tr>
        <td class="fontstyle" style="font-size: 15px">Username:</td>
        <td class="fontstyle" style="font-size: 15px">{{username}}</td>
        
      </tr>
      <tr>
        <td class="fontstyle" style="font-size: 15px">Email:</td>
        <td class="fontstyle" style="font-size: 15px">{{email}}</td>
        
      </tr>
      <tr>
        <td class="fontstyle" style="font-size: 15px">Contact:</td>
        <td class="fontstyle" style="font-size: 15px">{{contact}}</td>
        
      </tr>
      
    </table> 
    
</div>